@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  font-family: "EB Garamond", serif;
}

/* .text {
  width: 520px;
  height: 208px;
  color: peru;
  font-size: 24px;
} */

/* .text {
  @apply w-125 h-52 text-amber-50 mb-10;
} */

section.relative {
  background-image: url(./background.jpg);
}
